@media (max-width: 1600px){
    .home_three_slider .item{
        margin-top: -10% !important;
    }

    .secondary_header {
        max-height: 20px !important;
    }

    .home_three_slider .slider_image{
        width: 500px !important;
    }

    .home_three_slider .item_title{
        font-size: 3rem;
    }
}

@media (max-width: 768px){

    .home_three_slider .slider_image{
        width: 340px !important;
    }
}

.contact_form .custom_btn:hover{
    color: #efeeee;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #03c04b !important;
    border-color: #03c04b !important;
    color: #fff;
    font-size: 1em;
}

.whatsapp-float{
    position:fixed;
    top: 86%;
    left: 5px;
    z-index: 1;
}

@media only screen and (min-width: 768px){
    .whatsapp-float{
        display: none;
    }
}