    {% load static %}
    <!-- sidebar mobile menu - start
    ================================================== -->
    <div class="sidebar-menu-wrapper">
        <div class="sidebar_mobile_menu">
            <span class="close_btn"><i class="fa fa-times"></i></span>
            <div class="mobile_menu_list clearfix">
                <ul class="ul_li_block clearfix">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="fase">Services</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'main:graphic_design' %}">Graphic Designing</a></li>
                            <li><a href="{% url 'main:tshirt_printing' %}">T-shirt Printing</a></li>
                            <li><a href="{% url 'main:signages' %}">2D & 3D Signages</a></li>
                            <li><a href="{% url 'main:banners_stickers' %}">Banners and Stickers</a></li>
                            <li><a href="{% url 'main:promotional_materials' %}">Promotion Materials</a></li>
                            <li><a href="https://bafrocodes.co.tz">Web Design & Development</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'main:contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <!-- sidebar mobile menu - end
    ================================================== -->